## Task 1
Your first task is to navigate to your terminal and ensure that Python is installed and available on the command path. To complete this task, type the following syntax:

In [2]:
!python --version

Python 3.7.9

## Task 2
Having established that an up-to date version of python is installed on your machine you will need to install Jupyter. You can install Jupyter using the following code:

In [3]:
# !python -m pip install jupyter

## Task 3
Your third and final task is to establish a connection between Python and your database using the following steps:

In [4]:
# !pip install mysql-connector-python

In [5]:
import mysql.connector as connector

In [12]:
try:
    connector.connect(
        user='root',
        password='admin123'  
    )
    print('Successfully Connected to MYSQL Server')
except:
    print('There was a problem connecting to the MYSQL server\nPlease check the username or password.')

Successfully Connected to MYSQL Server

## Task One
In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose). 

To connect with your database, you can call the connect method of the connector class and pass in your details using the following code:

In [29]:
try:
    connection = connector.connect(
        user='root',
        password='admin123',
        database='littlelemondb'
    )
    print('Successfully Connected to MYSQL Server')
except:
    print('There was a problem connecting to the MYSQL server\nPlease check the username or password.')

Successfully Connected to MYSQL Server

In [31]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor(buffered=True)
# Set little_lemon database for use 
cursor.execute("use littlelemondb")

# Confirm the database in use
connection.database

'littlelemondb'

## Task two
In this second task, you now need to query the database to show all tables within the database. 

Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [32]:
cursor.execute("show tables;")

for table_name in cursor:
    print(table_name)

('bookings',)
('customers',)
('menuitem',)
('menus',)
('orderdelivery',)
('orders',)
('ordersview',)
('staff',)

## Task 3
Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

You can use the following steps to implement this functionality in your database directory:

In [33]:
# The SQL query is:
join_query="""
SELECT 
	c.name Customer_Name,
    c.email Email
FROM 
	orders o 
INNER JOIN bookings b 
ON
	o.bookingid = b.bookingid 
INNER JOIN customers c 
ON 
	c.customerid = b.customerid
WHERE 
	TotalCost > 60;
"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Customer_Name', 'Email')